.font-lobster {
    font-family: 'Lobster',
        cursive;
}

.font-monda {
    font-family: 'Monda',
        sans-serif;
    font-weight: 700;
}
.font-monda-regular {
    font-family: 'Monda',
        sans-serif;
    font-weight: 400;
}